
.main12{   
    width: 100vw;
    min-height: 100vh;
    background: #0057ff;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: first baseline 
}

.Back12{
    background: white;
    border-radius: 20px;
    padding: 0.5rem;
    width: 50vw;
    margin: 0 auto;
}

.veiw2{
    display: flex;
    align-items: center;
    padding: 1rem;
    margin: 3px; 
}

.veiw2 p {
    font-size: 0.8rem;
    color: white;
    cursor: pointer;
}

.border2{
    padding: 1rem;
}

.border p{
    color:#202c46;  
}

.profile-img {
    text-align: center;
    width: 8rem;
    height: 8rem;
    opacity: 1;
    margin: 0 auto
}




@media screen and (max-width:800px){


    .main12{
        width: 100%;
        position: absolute;
        min-height: 120vh;
    }

    .Back12{
        background: white;
        border-radius: 20px;
        padding: 1.5rem;
        width: 80%;
        margin: 0 auto;
        margin-top: 10rem;
    }
}
