.Profile-con{
    min-height: 100vh;
    background: #00296f; 
    margin: 0;
    display: flex;
    align-items: first baseline;   
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow-y: hidden;
}

.Profile-main{
    width: 100%;
    font-size: 0.7rem;
    line-height: 0.3rem;
}

.Profile{
    background: white;
    border-radius: 20px;
    padding-bottom: 5rem;
    width: 50vw;
    margin: 0 auto;
    border-radius: 20px;
}

.profile-border{
    display:flex;
    align-items:center;
    border-bottom: 1px solid #202c46;
    padding: 1rem;
    gap: 1rem;
    margin: 0;
}

.profile-border h5{
    margin: 0;
    font-size: 1rem;
    color: black;
}

.p-details{
    font-size: 0.9rem;
    word-break:break-all;
    line-height: 1rem;
    color: #00000092;
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 0;
}

.p-details.p-email{
    text-transform: lowercase;
}



.ham-mobb{
    display: none;
}


@media screen and (max-width:800px){
    .Profile-con{
        width: 100%;
        min-height: 110vh;
    }

    .Profile{
        width: 80%;
        margin: 15rem auto;
    }

    .profile-border{
        display:flex;
        align-items:first baseline;
    }

    .profile-border h5{
        font-size: 0.9rem;
    }
    
    .p-details{
        margin: 0;
        font-size: 0.8rem;
    }
    
    .p-icons{
        display: none;
    }

    .ham-mobb{
        display: flex;
    }

    .side-mobb {
        display: none;
    }
}