.Profile-con{
    min-height: 100vh;
    background: linear-gradient(to right, #e2e8e9, #110eb9); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */ 
    display: flex;
    align-items: center;   
}

.Profile-main{
    width: 100%;
    font-size: 0.7rem;
    line-height: 0.3rem;
}

.Profile{
    background: white;
    border-radius: 5px;
    padding-bottom: 5rem;
    width: 70%;
    margin: 0 auto;
    margin-top: 7rem;
    border-radius: 20px;
}

.profile-border{
    display:flex;
    align-items:center;
    border-bottom: 1px solid #202c46;
    padding: 1rem;
    gap: 1rem;
    margin: 0;
}

.profile-border h5{
    margin: 0;
    font-size: 1rem;
    color: black;
}

.p-details{
    font-size: 0.9rem;
    word-break:break-all;
    line-height: 1rem;
    color: #0000006d;
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 0;
}

.p-details.p-email{
    text-transform: lowercase;
}



.ham-mobb{
    display: none;
}


@media screen and (max-width:800px){
    .Profile-con{
        width: 100%;
        min-height: 110vh;
    }

    .Profile{
        width: 80%;
        margin: 12rem auto;
    }

    .profile-border{
        display:flex;
        align-items:first baseline;
    }

    .profile-border h5{
        font-size: 0.9rem;
    }
    
    .p-details{
        margin: 0;
        font-size: 0.8rem;
    }
    
    .p-icons{
        display: none;
    }

    .ham-mobb{
        display: flex;
    }

    .side-mobb {
        display: none;
    }
}