.contact-details{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 800px;
    margin-right: 0;
}

.contact-rex{
    display: flex;
    border-bottom: 1px solid #0a0a0a25;
}

.contact-list{
    width: 200px;
    margin-right: 15%;
}

.contact-list ul {
    list-style: none;
    width: auto;
    margin: 0 auto;
    padding-top: 2rem;
    margin-top: 1.3rem;
    color: gray;
    height: auto;
    padding: 0;
}

.item{
    margin-top: 1rem;
    width: 100%;
}

.contact{
    width: auto;
}

.contact-message-item{
    word-wrap: break-word;

}

.contact-time-item{
    display: flex;
    color: gray
}
