.waiting-page2{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #0057ff;
    padding: 3rem 3rem;
    height:100vh;
    width: 100%;
}

.waiting-body2 {
    display: flex;
    gap:5rem;
    justify-content: center;
    align-items: first baseline;
}

.waiting text2{
    width: 100%;
}

.waiting-img2 img {
    margin: 10px auto;
}






@media screen and (max-width:900px){
    .waiting-body2 {
        display: grid;
        justify-content: center;
        gap: 0.1rem;
        align-items: center;
        padding: 0;
    }
    
    .waiting-text2{
        width: 200px;
        margin: 10px auto;
    }

    .waiting-img2 img {
        align-self: end;
        width: 300px;
        margin: 10px auto;
    }

}
