.waiting-page{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #0057ff;
    padding: 3rem 2rem;
    height:100vh;
    width: 100%;
}

.waiting-body {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.waiting text{
    width: 50%;
}

.waiting-text h1{
    color: yellow;
}

.waiting-img img {
    align-self: end;
    width: 700px;
}





@media screen and (max-width:930px){
    .waiting-body {
        display: grid;
        justify-content: center;
        gap: 0.1rem;
        align-items: center;
        padding: 0;
    }
    
    .waiting-text{
        width: 60%;
        margin: 10px auto;
    }

    .waiting-img img {
        display: flex;
        justify-content: center;
        width: 300px;
        margin: 10px auto;
    }

}