.modal{   
    background: linear-gradient(to right, #000000, #110eb9); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */  
    display: flex;
    justify-content: center;
    width: 450px;
    margin: 0% auto;
}

.modal-form {
    width: 80%;
    padding: 0 20px 0;;
}

.percent{
    text-align: center;
}