/* @import url('https://fonts.googleapis.com/css2?family=BioRhyme:wght@200;300;400;700;800&display=swap'); */

.dashcontainer{
    font-family: 'BioRhyme', serif;
    background:white; 
    padding: 3rem 0;
}

.dashcustominput{
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    padding-top: 2rem;
    padding-bottom: 2rem;
    background: #00296f; 
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#searchbar:focus{
    outline: 2px solid rgb(0, 0, 0);
}

#availcours{
    font-size: 1.4rem;
    background: #00296f; 
    color: white;
    padding: 0.5rem;
}

.dashindiv{
    display: flex;
    padding: 1rem;
    margin-top: 8vh;
}

.dashindiv input{
    display: flex;
    padding: 0.7rem 0;
    margin-top: 0.7rem;
}

.dashindiv-mob{
    display: none;
}

.titlediv{
    width: 100%;
    padding: 2rem 3rem;
}

.titlediv marquee{
    background-color: rgb(224, 9, 9);
    padding: 0.3em  0;
}





@media screen and (max-width:900px){


    .dashindiv{
        display: flex;
        width: 60%;
        margin: 20px;
    }
    
    .dashindiv-mob{
        display: flex;
        padding: 1rem 0;
    }

    .dashcustominput{
        width: 100%;
        padding-top: 5rem;
    }

    #availcours{
        padding: 1rem 3rem ;
        font-size: 1rem;
    }
    
    .titlediv h1{
        font-size: 20px;
    }
}




@media screen and (max-width:650px) {
    
    .dashindiv{
        padding: 3rem 0 0;
        display: block;
        width: 60%;
    }
    
    .dashcustominput{
        display: flex;
        justify-content: start;
        align-items: center;
        padding-top: 3rem;

    }
}
