.outlineVideo{
    padding-bottom: 10px;
    display: flex;
    flex-direction: column;
}
.outlineVidDes{
    background:linear-gradient(0.9turn,#f2174f, #cc1b4d, #bd1c4d, #97204a, #5c2648, #2e2b48, #202c46); 
    text-align: center;
    padding-bottom: 15px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}
.outlineVidDes p{
    margin-top: 0;
    padding-top: 10px;
    color: white;
}
.outlineVidBtn{
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
.outlineVidBtn .btnCreate{
    font-size: 10px;
    padding: 8px 10px;
    margin: 0;
}