
.termshead{
    background: linear-gradient(to right, #e2e8e9, #110eb9); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */    
    display: flex;
    align-items: center;
    height: 150px;
    color: white;
    width: 100%;
    z-index: 1;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.termsheader{
    width: 70%;
    margin: 0 auto;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content:center;
    align-items: center;
}

.terms{
    color: black;
    text-align: justify;
    width: 90%;
    margin: 0 auto;
    margin-top: 30px;
}


@media screen and (max-width:800px){

    .termsheader h1{
        font-size: 1rem;
        width: 100%;
        margin: 0;
    }

    .terms{
        font-size: 0.9rem;
        width: 80%;
        margin: 30px auto;
    }

    .terms ul{
        margin-left: 1rem;
    }
    
}
