.smallContc{
    top: 0;
    display: flex;
    min-height: 100vh;
    overflow: hidden;
}

.smallContc img {
    width: 100%;
    height: 120vh;
    font-size: 1rem;
    object-fit: cover;
    display: block;
    position: relative;
    opacity: 0.15;
}

.formc{
    display: flex;
    flex-direction: column;
    width: 40%;
    padding: 2rem 0;
    background: linear-gradient(to right, #C4E0E5, #110eb9); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */   
}

.formc p{
    font-size: 1rem;
    color: white;
}

.colc {
    width: 80%;
    color: white;
    display: flex;
    flex-direction: column;
    margin: 0 auto 0;
}

.colc > *{
    margin-top: 15px;
}

.colc .img{
    width: 4rem;
    height: 4rem;
    opacity: 1;
    margin: 0 auto;
}

.colc h2{
    text-align: center;
    font-size: 1.5rem;
}

#textc{
    padding: 20px 0.8rem 0;
}

#textc:focus{
    outline: 2px solid black;
}

.col-2c{
    width: 60%;
    height: 100%;
    background: black;
    position: relative;
}

.col-2c .absc{
    top: 3%;
    left: 20%;
    width: 50%;
    position: absolute;
    color: white;
}

.col-2c .absc h1{
    font-size: 2rem;
    text-align: center;
}

.absc .groupc{
    margin-top: 30px;
}

.bottomc{
    color: white;
    width: 85%;
    margin: 0px 0 0;   
    font-size: 1.3rem;
}

.flexc{
    display: flex;
    font-size: 3rem;
    justify-content: space-between;
    width: 43%;
    margin: 0 auto;
    margin-top: 3%;
}

.flexc p{
    margin: 10% 0% 0;
    font-size: 3.4rem;
}

.groupc{
    display: flex;
    width: 100%;
    height: auto;
    color: #d30330;
}

.groupc span{
    font-size: 1.2rem;
    margin-left: 20px;
    margin-bottom: 10px;
}

.groupc h1{
    margin-left: 4%;
}

.groupc2 a{
    color: white;
}

.movec {
    width: 90%;
    text-align: justify;
    color: white;
    letter-spacing: 0.02rem;
}

.groupc2{
    display: flex;
    justify-content: space-between;
    width: 40%;
    margin: 3% 10%;
    cursor: pointer;
}

.bluei:hover{
    color: #1877F2;
    transition: ease-in .2s;
}

.pinki:hover{
    color: rgb(231, 15, 51);
    transition: ease-in .2s;
}







/* Responsive */

@media screen and (max-width:1200px) {
    .signmob{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100px;
    }
    .col-2c{
        display: none;
    }

    .formc{
        width: 100%;
    }
}


@media screen and (max-width:900px) {

    .col-2c{
        display: none;
    }
    .formc{
        width: 100%;
        padding: 3rem 0;
    }
}