.input{
    width: 25%;
    padding: 15px 15px 14px;
    margin:10px 0; 
    font-size: 15px;
    border: 1.8px solid #151D3B;
    outline: none;
    color: #151D3B;
}

::placeholder{  
    font-size: 15px;
    color: gray;
}

.input:focus{
    outline: 1px solid black;
}