.adminDashContainer{
    display: flex;
    position: relative;
}
.adminDashContent{
    width: 82%;
    margin-left: auto;
}
.adminDashContentContainer{
    width: 96%;
    margin: 0 auto;
}

.btnCreate{
    margin-right: 20px;
    background: #151D3B;
    color: white;
    padding: 10px 20px;
}
.adminDashContentBody{
    display: flex;
    padding-top: 10px;
    align-items: flex-start;
    justify-content: space-between;
}
.adminDashCourseOutlines{
    width: 45%;
    padding: 0 10px;
}
.adminDashCourseOutlinesVideos{
    width:45% ;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
