.errorbody {
    background: #00296f;
    overflow:hidden;
    height: 100vh;
}

.errorlogo{
    width: 80%;
    margin: 0 auto;
    display: flex;
    padding: 2rem 0;
    align-items: center;
}

.errortext {
    width: 50%;
    height: 85vh;
    margin: 0 auto;
    color: white;
    font-weight: bolder;
    text-align: center;
}

.errorbody span {
    font-size: 12rem;
    margin-bottom: 0;
    display: flex;
    justify-content: center;
}

.errorbody p {
    font-size: 1.8rem;
    margin: 0;
}



@media screen and (max-width:520px){

    .errorbody span {
        font-size: 5rem;
    }

}