.gen-course-mat {
    background: rgba(128, 128, 128, 0.705); 
    padding: 30px;   
    width: 50%;
    margin: 3rem auto;
    border-radius: 1.7rem;
    box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
    overflow: hidden;
}

.gen-course-mat div {
    border-radius: 1rem;
    margin: 10px;
    padding: 0.5rem;
    text-align: center;
    display: flex;
    background-color: white;
    color: black;
    box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
    transform: translateZ(0);
    transition: transform .30s ease-out;
}

.gen-course-mat div:hover {
    background: #0057ff;
    transform: scale(1.04);  
    color: white;
}

.gen-course-mat div p{
    text-decoration: none;
    margin: 15px;
}




@media screen and (max-width:800px){
    .gen-course-mat {
        padding: 30px;   
        width: 80%;
        margin: 3rem auto;
        border-radius: 1.7rem;
        box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
        overflow: hidden;
        font-size:0.7rem;
    }
}

