.userdata{
    padding-bottom: 10px;
    display: flex;
    flex-direction: column;
}
.userdataDes{
    background:linear-gradient(0.9turn,#f2174f, #cc1b4d, #bd1c4d, #97204a, #5c2648, #2e2b48, #202c46); 
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    padding-bottom: 20px;
}
.userdataDes p{
    padding-top: 10px;
    color: white;
}
.userdataBtn{
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
.userdataBtn .btnCreate{
    font-size: 10px;
    padding: 8px 10px;
    margin: 0;
}