.staff-images{
    display: flex;
    justify-content:center;
    text-align: center;
    gap: 5em;
    margin: 0 auto;
    flex-wrap: wrap;
    object-fit: fill;
    padding: 2rem 0;   
}

.staff-imagez{
    background-color: rgba(245, 245, 245, 0.574);
    border-radius: 50px;
    padding: 3% 0 0;
    margin: 0;
    width: 250px;
    margin-bottom: 30px;
}

.staff-images img{
    width: 170px;
    height: 170px;
    gap:20px;
    border-radius: 200px;
    background-color: rgb(42, 41, 41);
    z-index: 2;
    object-fit: cover;
    padding: 3%;
    margin-bottom: 10px;
}

.staff-detailz{
    display: grid;
    padding: 7% 3%;
    background: #D82148;
    width: 100%;
    height: 170px;
    border-radius: 30px;
}

.staff-detailz h1, .staff-detailz h3{
    font-size: 1.2rem;
    color: rgb(0, 0, 0);
}

.staff-detailz p{
    font-size: 1rem;
    color: rgb(255, 255, 255);
    font-weight: bolder;
    text-align: center;
}

.staff-btnn{
    text-align: center;
    margin-top: 50px;
}

.staff-btn button{
    touch-action: manipulation;
    background-color:black;
    box-shadow: 1px  2px 1px 1px #ffffff;
}

.staff-btn button:hover{
    color: white;
    background: #00296F;
    box-shadow: 1px  2px 1px 1px black;
}



/* RESPONSIVE */

@media screen and (max-width:600px) {
    
    .staff-images{
       width: 70%;
       justify-content: center;
    }

    .staff-imagez{
        width: 100%;
    }

    .staff-imagez img{
        object-fit:cover;
        padding: 3%;
    }

    .staff-detailz{
        border-radius: 20px;
        width: 100%;
    }
    
    .staff-detailz p{
        width: 100%;
        line-height: 1.7rem;
    }

    .staff-btn button{
        width: 250px;
    }
    
}