.courseSubjects-cont{
    display: flex;
    justify-content:center;
    text-align: center;
    gap: 5em;
    margin: 0 auto;
    flex-wrap: wrap;
    object-fit: fill;
    padding: 2rem 0;    
}

.courseSubjects-detailz{
    background: grey; 
    border-radius: 50px;
    padding: 1.5rem 0;
    margin: 0;
    text-decoration: none;
    width: 300px;
    margin-bottom: 30px;
    background-color: #64585b;
}

.courseSubjects-detailz a{
    color: #000000;
}

.courseSubjects-detailz a:hover{
    color: #ffffff;
}

.courseSubjects-detailz h1, h3{
    font-size: 1.3rem;
    color: rgb(0, 0, 0);
}

.dashinput:focus{
    outline: 2px solid rgb(0, 0, 0);
}








